name: Terraform + Ansible CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  terraform-ansible:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Ansible and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible docker

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.8.0

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan

      - name: Install TFLint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Run TFLint
        working-directory: terraform
        run: tflint --init && tflint

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov (Terraform security Scan)
        working-directory: terraform
        run: checkov -d .
        
      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan

      - name: Run Ansible Playbook
        working-directory: ansible
        run: ansible-playbook -i inventory.ini playbook.yml

      - name: Test nginx availability
        run: |
          curl -I http://localhost:8081
          curl -I http://localhost:8082
