name: Terraform + Ansible CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  terraform-ansible:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Ansible and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible docker

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.8.0

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: |
          terraform plan -out=tfplan
          terraform show -json tfplan > plan.json

      - name: Install TFLint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Run TFLint
        working-directory: terraform
        run: tflint --init && tflint

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov (Terraform security Scan)
        working-directory: terraform
        run: checkov -d .

      - name: Install OPA
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64
          chmod +x opa
          sudo mv opa /usr/local/bin/opa
          opa version

      # -----------------------------
      # Create OPA policy dynamically
      # -----------------------------
      - name: Create OPA policy (policies.rego)
        working-directory: terraform
        run: |
          cat << 'EOF' > policies.rego
          package terraform.security

          # Deny resources without tags
          deny[msg] {
            resource := input.resource_changes[_]
            not resource.change.after.tags
            msg := sprintf("Resource %s has no tags", [resource.address])
          }

          # Prevent public S3 buckets
          deny[msg] {
            resource := input.resource_changes[_]
            resource.type == "aws_s3_bucket"
            resource.change.after.acl == "public-read"
            msg := sprintf("Public S3 bucket not allowed: %s", [resource.address])
          }

          # Restrict EC2 instance size
          deny[msg] {
            resource := input.resource_changes[_]
            resource.type == "aws_instance"
            resource.change.after.instance_type == "t2.micro"
            msg := sprintf("Instance type t2.micro not allowed: %s", [resource.address])
          }
          EOF

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      # -----------------------------
      # Run OPA policy check
      # -----------------------------
      - name: Run OPA Policy Check
        working-directory: terraform
        run: |
          set +e  # disable exit-on-error temporarily

          opa eval \
          --format=json \
          --input plan.json \
          --data policies.rego \
          "data.terraform.security.deny" > opa-result.json

          set -e  # re-enable strict mode

          echo "OPA evaluation result:"
          cat opa-result.json

          violations=$(jq '.result[0].expressions[0].value | length' opa-result.json)

          if [ "$violations" -gt 0 ]; then
          echo "❌ OPA policy violations detected"
             exit 1
          else
           echo "✅ OPA policies passed"
          fi

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan

      - name: Run Ansible Playbook
        working-directory: ansible
        run: ansible-playbook -i inventory.ini playbook.yml

      - name: Test nginx availability
        run: |
          curl -I http://localhost:8081
          curl -I http://localhost:8082
